* {
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, Roboto, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #252525;
    color: #d3d3d3;
}

a {
    text-decoration: none;
    color: #ffb320;
}

.logo {
    width: 36px;
    margin-right: 5px;
}

.btn-loading {
    position: relative;
    padding-right: 32px;
    pointer-events: none;
}

.btn-loading::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#app {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 280px;
    height: 100vh;
    background-color: #2f2f2f;
}

.siderbar svg {
    fill: #fff;
}

#notice {
    position: absolute;
    top: 16px;
    left: calc(50% + 100px);
    z-index: 99;
    background: #003c95;
    padding: 4px 16px;
    border-radius: 99px;
}
#notice:not(.show) {
    display: none;
}

.content {
    height: 100vh;
    overflow-y: auto;
    flex-grow: 1;
}

#setting {
    padding: 10px;
}
button.active {
    background-color: #ffb320 !important;
    color: #131313 !important;
    font-size: 14px !important;
    font-weight: bold !important;
    height: 38px !important;
    border-radius: 40px !important;
    border-color: #ffb320 !important;
}
.nav-item .nav-link.active,
.nav-item .nav-link:hover {
    color: #ffb320 !important;
}
.table {
    color: inherit;
    counter-reset: section;
}
.count:before {
    counter-increment: section;
    content: counter(section);
}
.x_remove {
    width: 20px;
    cursor: pointer;
}
.x_remove > p {
    color: red;
    margin: 0;
}
.tab-header {
    position: sticky;
    top: 0px;
    background-color: #252525;
    padding-top: 10px;
    margin-top: -10px;
    z-index: 2;
}
#monitor_table {
    padding: 16px 0px;
}
#monitor_table * {
    color: #fff;
}
#monitoring_table * {
    color: #fff;
    background-color: #252525;
    border-color: #131313;
}
.status_none {
    background-color: #6b6b6b!important;
    border-radius: 99px;
    padding: 1px 6px;
}
.status_running {
    background-color: #ffb320!important;
    border-radius: 99px;
    padding: 1px 6px;
}
.status_done {
    background-color: #48a300!important;
    border-radius: 99px;
    padding: 1px 6px;
}