* {
    outline: none;
    box-sizing: border-box;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: #3c8dbc;
}


.logo {
    width: 36px;
    margin-right: 5px;
}

.btn-loading {
    position: relative;
    padding-right: 32px;
    pointer-events: none;
}

.btn-loading::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#app {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 280px;
    height: 100vh;
}

.siderbar svg {
    fill: #fff;
}

.content {
    height: 100vh;
    overflow-y: auto;
    flex-grow: 1;
}

#setting {
    padding: 10px;
}