* {
    outline: none;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body {
    font-family: -apple-system, Roboto, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #252525;
    color: #d3d3d3;
}

a {
    text-decoration: none;
    color: #ffb320;
}
.loader {
    border: 4px solid #2f2f2f;
    border-top: 4px solid #ffb320;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#player_monitoring_table,
#proxy_monitoring_table {
    width: 100% !important;
}
#splashScreen {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.logo {
    width: 36px;
    margin-right: 5px;
}

.btn-loading {
    position: relative;
    padding-right: 32px;
    pointer-events: none;
}

.btn-loading::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#app {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 280px;
    height: 100vh;
    background-color: #2f2f2f;
}

.siderbar svg {
    fill: #fff;
}

#notice {
    position: absolute;
    top: 16px;
    left: 50%;
    z-index: 99;
    background: #003c95;
    padding: 4px 16px;
    border-radius: 99px;
}
#notice:not(.show) {
    display: none;
}

.content {
    height: 100vh;
    overflow-y: auto;
    flex-grow: 1;
}

#setting {
    padding: 10px;
}
button.active {
    background-color: #ffb320 !important;
    color: #131313 !important;
    font-size: 14px !important;
    font-weight: bold !important;
    height: 38px !important;
    border-radius: 40px !important;
    border-color: #ffb320 !important;
}
.nav-item .nav-link.active,
.nav-item .nav-link:hover {
    color: #ffb320 !important;
}
.nav-link {
    padding: .5rem 0;
}
.table {
    color: inherit;
    counter-reset: section;
}
.player_monitoring_table,
.proxy_monitoring_table {
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
}
.count:before {
    counter-increment: section;
    content: counter(section);
}
.x_remove {
    width: 20px;
    cursor: pointer;
}
.x_remove > p {
    color: red;
    margin: 0;
}
.tab-header {
    position: sticky;
    top: -1px;
    background-color: #252525;
    padding-top: 10px;
    margin-top: -10px;
    z-index: 2;
}
#player_monitoring,
#proxy_monitoring {
    padding: 16px 0px;
}
#player_monitoring *,
#proxy_monitoring * {
    color: #fff;
}
#player_monitoring_table *,
#proxy_monitoring_table * {
    color: #fff;
    background-color: #252525;
}
#player_monitoring_table th,
#player_monitoring_table td,
#proxy_monitoring_table th,
#proxy_monitoring_table td {
    border: 1px solid #4e4e4e;
}

.status_blue,
.status_green,
.status_yellow,
.status_light_yellow,
.status_light_blue,
.status_red,
.status_black,
.status_gray {
    border-radius: 99px;
    padding: 1px 6px;
    font-size: 12px;
}
.status_gray {
    background-color: #6b6b6b !important;
}
.status_yellow {
    background-color: #ffb320 !important;
    color: #000 !important;
}
.status_light_yellow {
    background-color: #fddb98 !important;
    color: #000 !important;
}
.status_black {
    background-color: #000 !important;
    color: #fff !important;
}
.status_blue {
    background-color: #2098ff !important;
    color: #000 !important;
}
.status_light_blue {
    background-color: #8fc7f7 !important;
    color: #000 !important;
}
.status_green {
    background-color: #48a300 !important;
}
.status_red {
    background-color: #dc3545 !important;
}
.verify_pending * {
    color: #ffb320 !important;
}
.verify_failed * {
    color: #dc3545 !important;
}
.section {
    background-color: #2f2f2f;
    border-radius: 16px;
    padding: 8px 16px;
    margin: 8px;
}
#save_season {
    margin-left: 12px;
    height: 26px !important;
    padding: 2px 6px;
    font-size: 12px !important;
}
.caption {
    font-size: 12px;
}
.modal * {
    color: #000;
}
#card_active {
    position: sticky;
    top: 0;
    padding-left: 16px;
    overflow: scroll;
}
#require_card_list > div {
    background-color: #cfcfcf;
    border-radius: 8px;
    padding: 8px 0px;
    margin: 0;
}
.card {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; 
    overflow: hidden;
}
.card-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.require-card-dec *{
    margin: 0px;
    font-size: 12px;
    padding: 0;
}
.require-card-dec .max-dec{
    white-space: nowrap;
}
.foil {
    width: 32px;
    height: 32px;
    border: 2px solid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    margin-left: 8px;
    opacity: 0.3;
    cursor: pointer;
}
.foil-gold {
    border-color: #eac200;
}
.foil-classic {
    border-color: #219b92;
}
.foil-selected {
    opacity: 1;
}
#card_delegated_list label {
    font-size: 10px;
    line-height: 12px;
}
#card_delegated_list >div>div {
    height: 12px;
}
.red-lable {
    color: #dc3545
}
.yellow-lable {
    color: #eac200
}
.green-lable {
    color: #48a300
}
#log p {
    margin: 0px;
    font-size: 10px;
    font-family: monospace;
}